﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="CheckThriftyWS.aspx.vb" Inherits="CheckThriftyWS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>

<body>
    <form id="form1" runat="server">
    <div>
    <asp:literal ID="Literal1" runat="server"></asp:literal>    
    </div>
    </form>
</body>
</html>
