﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ModifyBooking.aspx.vb" Inherits="ModifyBooking" ValidateRequest="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:TextBox ID="TextBox1" runat="server" Height="462px" TextMode="MultiLine" 
            Width="1249px"></asp:TextBox>
    
    </div>
    <asp:Button ID="Button1" runat="server" Text="Modify Booking" Width="166px" />
    </form>
</body>
</html>
